<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics >
    <switches >
      <!-- 
      0 - no output
      1 - errors
      2 - warnings
      3 - information
      4 - verbose
      -->
      <add name="DebugLevel" value ="1"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="contextMenuString" value="&lt;button id=&quot;Item{0}&quot; label=&quot;{1}&quot; onAction=&quot;OpenLink&quot; /&gt;"/>
    <add key="customUIReplaceString" value="&lt;switchthis /&gt;"/>
    <add key="customUIReplaceStringEdit" value="&lt;switchthisedit /&gt;"/>
  </appSettings>
</configuration>